.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.contacts__content {
  display: grid;
  grid-template: 1fr / 1fr minmax(auto, 730px);
  justify-content: space-between;
  gap: 1rem;
}

.contacts__phone-email {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .phone-email__item {
    font-family: "Open Sans Condensed Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.contacts__form {
  display: grid;
  grid-template-areas:
    "inputs message"
    "inputs message"
    "text button__wrap";
  gap: 40px 30px;
  justify-content: space-between;
  border: 1px solid red;



  #name,
  #company,
  #tel,
  #email,
  #message {
    background: #444444;
    border: 1px solid #616161;
    font-family: "Open Sans SemiBold";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    color: #989898;
    width: 100%;
    padding: 1rem;
  }

  .form__inputs {
    grid-area: inputs;
    display: grid;
    grid-template-areas:
      "name company"
      "tel email";
    gap: 30px;
    max-width: 390px;


    #name,
    #company,
    #tel,
    #email {
      align-items: center;
      max-width: 100%;
      max-height: 35px;
    }

    #name {
      grid-area: name;
    }

    #company {
      grid-area: company;
    }

    #tel {
      grid-area: tel;
    }
  }

  #message {
    max-width: 310px;
    grid-area: message;
  }

  .form__text {
    grid-area: text;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
    max-width: 390px;
    border: solid 1px red;
  }

  .button__wrap {
    grid-area: button__wrap;
    max-width: 310px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    border: 1px solid red;
  }
}