.partners {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 120px;

    @media (max-width: 768px) {
        margin-bottom: 90px;
    }

    @media (max-width: 576px) {
        margin-bottom: 80px;
    }
}

.partners__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;
}