.projects {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 150px;

  @media (max-width: 768px) {
    margin-bottom: 90px;
  }

  @media (max-width: 576px) {
    margin-bottom: 80px;
  }
}

.gallery {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 550px;
  overflow: hidden;

  .gallery__item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .gallery__img {
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .wrap__loupe {
      z-index: 2;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background: #D1A954;
      position: absolute;

      &:hover {
        z-index: 2;
        opacity: 1;
      }
    }


    .gallery__text {
      z-index: 3;
      width: 100%;
      height: 100%;
      padding: 40px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));

      &:hover {
        display: none;
      }

      .gallery__text-top {
        font-family: "Open Sans Condensed Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .gallery__text-left {
        position: absolute;
        bottom: 0;
        margin-bottom: 80px;
        left: 0;
        font-family: "Open Sans Condensed Bold";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        transform: rotate(-90deg);
      }
    }
  }
}