.rating {
  margin: 0 auto;
  margin-bottom: 150px;
  width: 100%;
  background: url(/img/rating.png) no-repeat center;
  background-size: cover;

  @media (max-width: 768px) {
    margin-bottom: 90px;
  }

  @media (max-width: 576px) {
    margin-bottom: 80px;
  }
}

.rating__wrap {
  padding: 126px 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0 125px;

  @media (max-width: 992px) {
    gap: 0 80px;
  }

  @media (max-width: 768px) {
    gap: 0 25px;
  }


  .rating__dates {
    .rating__date {
      font-family: "Open Sans Condensed Bold";
      font-style: normal;
      font-weight: bold;
      font-size: 72px;
      line-height: 98px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #D1A954;
    }
  }

  .rating__content {
    max-width: 475px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px 0;

    @media (max-width: 992px) {
      max-width: 450px;
    }

    @media (max-width: 768px) {
      max-width: 380px;
    }

    @media (max-width: 576px) {
      max-width: 330px;
    }

    .rating__stars {
      display: flex;
      gap: 0 25px;
    }

    .rating__text {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 150%;
      color: #FFFFFF;

      @media (max-width: 992px) {
        font-size: 34px;
      }

      @media (max-width: 768px) {
        font-size: 29px;
      }
      @media (max-width: 576px) {
        font-size: 25px;
      }
    }
  }
}